main {
    max-width: 800px;
}

aside {
    max-width: 600px;
    background-color: #833434;
    color: white;
    border: 1px solid rgb(48 14 14 / 0.2);
    padding: 10px;
    margin: 10px;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

nav {
    background-color: #833434;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: #833434;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray
}

p {
    padding: 0;
}

footer  {
    margin-top: 10px;
    border-top: 2px solid #833434;
    text-align: center;
}

